/*웹 폰트 사용*/
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

@keyframes fadein{/*서서히 나타나는(fade in) 애니메이션 효과*/
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}


/*게임이 렌더링되는 캔버스*/
#gameCanvas{
    width:100%;
    height:100%;
    border:1px solid black;
    float:left;
    background-color: #ffbf80;
}

/*조이스틱*/
/*(이슈) 조이스틱의 width와 height를 너무 작게 설정하면 렌더링 오류 발생 */
#joyDiv{
    z-index: 1000;
    left:3%;
    top:65%;
    position:absolute;
    width:200px;
    height:200px
    
}

#mobile_attack_button{
    z-index: 1000;
    left:80%;
    top: 63%;
    position:absolute;
    width:200px;
    height:200px;
    background-color: rgba(0,0,0,0.4);
    border-radius:60px;
}
#mobile_attack_button:active{
    background-color: rgba(0,0,0,0.8);
}
/*자동 확장기능 overflow-y: auto; */

#ui_player_list_box{
    width: 15vw;
    height: 80vh;
    padding: 20px;
    position: absolute;
    z-index: 1000;
    top: 7%;
    left: 90%;
    background-color: rgba(0,0,0,0.4);
    border-radius: 30px;
    transform:translate(-50%);
    animation:fadein 3s;
  }

  /*----로그인 UI창 -----*/

.ui-block{/*공중에 떠있는 투명한 검은색 ui 틀 // 체력 등 따로 관리할 것들*/
    z-index: 1000; /*쌓임높이. 높을수록 겉에 표시됨*/
    background-color: rgba(0,0,0,0.4);
    border-radius: 30px;
}

.ui{ /*로그인 ui 전체*/
    text-align: center;
    padding: 30px;
    border: none;
    box-shadow: 0 0 30px 3px rgba(0, 0, 255, 0.3);
    background-color: rgba(0, 0, 205, 0.3);
    background-size: 100% 100%;
    color:whitesmoke;
    border-radius: 10px; /*테두리를 둥글게*/
    position: fixed;
    animation:fadein 3s;
}

.title{
    width: 50vw;
    height: 20vh;
    top: 10%;
    left: 20%;
    font-family: 'Black Han Sans', sans-serif; /*웹폰트*/
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 30rem 3rem rgba(0, 0, 0, 0);
    color: #fffff0;
}

#username_input{
    width: 15vw;
    height:7vh;
    top: 35%;
    left: 22%;
    padding: 28px;
    background-color: rgba(0, 0, 0, 0.4);
    transition:0.5s;
}

#username_input:focus{
    width: 18vw;
    border-color: #fce181;
    border-radius: 20px;
    transition:0.5s; /*서서히 커짐*/
}

#play_button {
    width: 10vw;
    height: 8vh;
    top: 45%;
    left: 25%;
    font-size: 25px;
    padding: 15px 30px;
    border: 3px solid #fffff0;
    background-color: transparent;
    color: #fffff0;
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    transition: all 0.4s;
    overflow: hidden;
}
#play_button:focus {
    outline: none;
}

#play_button::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fffff0;
    top: 100%;
    left: 0;
    transition: all 0.4s;
    z-index: -1;
}

#play_button:hover {
    color: #3c3e70;
}
#play_button:hover::before{
    transform:translateY(-100%);
}


.charactor-select{
    width: 25%;
    height:30%;
    top: 30%;
    left: 45%;  
    background-color: rgba(239, 235, 235, 0.5);
}

.how-to-play{
    top: 55%;
    left: 27%;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0);
    color: #fffff0;
    font-size: 1.5vmin;
    transition:0.3s;
}
.how-to-play:hover{
    font-size: 2vmin;
    transition:0.3s;
}

.guide{
    top: 58%;
    left: 27%;
    padding: 3px;
    background-color: rgb(117, 109, 109, 0.5);
    box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0);
    color: #fffff0;
    transition:0.3s;
}

input::placeholder {
    color: #fffff0;
    font-size: 0.4vmax;
    opacity: 0.3;
    font-style: italic;
}